body{
    font-family: Arial, sans-serif;
}

nav{
    text-align: right;
    margin-top: 15px;
    margin-right: 8px;
}

.menu-items{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0 7px;
}

a.menu-items{
    text-decoration: none;
    position: relative;
    top: -10px;
}

a.menu-items:hover{
    text-decoration: underline;
}

.material-icons{
    position: relative;
    top: -5px;
    cursor: pointer;
}

#profile-pic{
    height:32px;
    width: 32px;
    border-radius: 50px;
}

#profile-pic:hover{
    cursor: pointer;
}

/* ================================================ */


section{
    text-align: center;
    padding-top: 120px;
}

section > .logo{
    margin-bottom: 20px;
}

.search-box{
    width: 582px;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
    outline: none;
}

.search-box:hover{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.search-box:focus{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.search-wrapper > .mic{
    position: absolute;
    right: 480px;
    height: 40px;
}

.mic:hover{
    cursor: pointer;
}

.search-btn{
    background-color:#f2f2f2;
    color: #5F6368;
    font-size: 14px;
    height: 36px;
    padding: 0 16px;
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    color: #222;
    margin-top: 20px;
    cursor: pointer;
}

.search-btn:hover{
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}



.lang-items{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    margin: auto 5px;
}

a.lang-items{
    color: blue;
}

.lang-items:hover{
    text-decoration: underline;
}

.app-dropdown{
    width: 300px;
    padding: 23px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 70px;
    text-align: center;
}

.app-dropdown{
    display: none;
}


.app-drawer:hover .app-dropdown{
    display: inline-block;
}


.app-item{
    display: inline-block;
    width: 84px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.app-item>img{
    display: inline-block;
    width: 40px;
    height: 40px;
}

.app-item>p{
    color: rgba(0, 0, 0, 0.87);
}

.app-item:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.app-drawer{
    display: inline-block;
}